/* CSS declarations go here */
body {
  font-family: sans-serif;
  background: #fff;
  color: #666666; 

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

#mainheader {
  display: flex;
  align-items: center;
}

#mainheader a {
   -webkit-flex: 1; 
   flex: 1;
}

.headertitle {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.container {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
}

header {
  background: #d2edf4;
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.container input {
  display: block;
  margin: 0;
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.container input:focus{
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

#delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}


@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

.search {
    width: 150px;
    clear: both;
  }


}

.Paragtitle{
  font-weight: bold;
}

 .cvsectionname {
    border-bottom: 3px solid #000;
    padding-bottom: 0em;
}

td {
  vertical-align: top;
  padding-bottom: 0.75em;
}

