<template name="cv">
    {{#if currentUser}}
    <!--                   Settings for the current CV                          -->
    <div align="center">
    <br>
    <h3>CV DISPLAY</h3>
            <br>
        <h3>{{fullName}}</h3>
            <br>
            <form class="displayDetails">       
                <table width="60%">
                    <col width="25%">
                    <col width="40%">
                 
                   <br>
                   <label class="anon"><input type="checkbox" class="checkbutton" name="anoncheck" checked={{isAnon}}> Anonymous CV</label>
                    <br>
                     <tr>
                        <td>CV Personal Info paragraph padding in px</td>
                        <td><input type="text" name="CVInfoparagraphPadding" value="{{CVInfoparagraphPadding}}">
                        </td>
                    </tr>
                    <tr>
                        <td>CV other paragraph padding in px</td>
                        <td><input type="text" name="CVparagraphPadding" value="{{CVparagraphPadding}}">
                        </td>
                    </tr>
                
                     <tr>
                        <td>CV before title padding in px</td>
                        <td><input type="text" name="CVtitlePadding" value="{{CVtitlePadding}}">
                        </td>
                    </tr>
                      <tr>
                        <td>CV after title padding in px</td>
                        <td><input type="text" name="CVaftertitlePadding" value="{{CVaftertitlePadding}}">
                        </td>
                    </tr>
                    <tr>
                        <td>Paragraph text size in px</td>
                        <td><input type="text" name="CVTextSize" value="{{CVTextSize}}">
                        </td>
                    </tr>
                    <tr>
                        <td>Title text size in px</td>
                        <td><input type="text" name="CVTitleSize" value="{{CVTitleSize}}">
                        </td>
                    </tr>
                     <tr>
                        <td>Round border for the picture in px</td>
                        <td><input type="number" name="roundBorder" value="{{roundBorder}}">
                        </td>
                    </tr>
                    
                </table>
                <br>
                <input class="submit" type="submit" value="Save preferences">
                {{#if savedCVDetails}}&#10004;{{/if}}
                <br>
            </form>
        <br>
     <a href="#" class="btn btn-primary generate-pdf" >Generate PDF</a>
        <br>
        {{#if spinnerState}}{{> spinner}}{{/if}}
    </div>
    
    <!--             CV             -->
    <div class="container containercv">
        
        <main class="cv">
            <style type="text/css">
                :root{
                    --info-padding:{{CVInfoparagraphPadding}}px;
                    --paragraph-padding: {{CVparagraphPadding}}px; /* space between 2 paragraphes */
                    --title-padding:{{CVtitlePadding}}px; /* space between title and text */
                    --text-size:{{CVTextSize}}px; /* font size for text */
                    --title-size:{{CVTitleSize}}px; /* font size for titles */
                    --titleAfter:{{CVaftertitlePadding}}px;
                }
            </style>
            <!-- header -->
            <div class="cvHeader">
                <div class="leftHeader" style="vertical-align:top">
                    <p>
                        <img src="/images/logo_philico.png" alt="Logo Philico" height="99"/>
                    </p>  
                    {{#unless isAnon}}
                    {{firstNameup}} {{familyNameup}} <br>
                    {{/unless}}
                    <div class="CVp" style="color: #01416F !important; font-size:{{CVTitleSize}}px;">
                    {{#if isJunior}}
                    Consultant {{#if subcontractor}} - Subcontractor {{/if}}
                    {{else}}
                    {{positionPhilico}} {{#if subcontractor}} - Subcontractor{{/if}}
                    {{/if}}
                    </div>
                </div>
                <div class="rightHeader" align="right">
                    <p>
                        {{#unless isAnon}}
                        <img src="data:image/jpeg;base64,{{getImage}}" alt="Profile picture" height="140" style="border-radius: {{roundBorder}}px;"/>
                        {{/unless}}
                    </p>
                </div>
            </div>

            <!-- PERSONNAL INFORMATION -->
            <div>
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            PERSONAL INFORMATION
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="infoTitle" style="padding-top:var(--titleAfter);">
                            Birthday
                        </div>
                        <div class="infoContent">
                            {{#if birthDate}}{{birthDatedisplayed}}{{/if}}
                        </div>
                    </div>
                </div>
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="infoTitle">
                            Nationality
                        </div>
                        <div class="infoContent">
                            {{nationality1}}{{#if nationality2}}, {{nationality2}}{{/if}}{{#if nationality3}}, {{nationality3}}{{/if}}
                        </div>
                    </div>
                    {{#unless isAnon}}
                    <div class="projectRow">
                        <div class="infoTitle">
                            Address
                        </div>
                        <div class="infoContent">
                            {{addressStreet}} {{addressNumber}} <br>
                            {{addressZip}} {{addressCity}} <br>
                            {{addressCountry}}
                        </div>
                    </div>
                    <div class="projectRow">
                        <div class="infoTitle">
                            Contact
                        </div>
                        <div class="infoContent">
                            {{mobilecountryCode}}{{cleanphone mobilecountryCode mobilePhone}} <br>
                            {{email}}
                        </div>
                    </div>
                    {{/unless}}
                </div>
            </div>

            <!--  PERSONAL INFORMATION   --> 

            <!--<table width="100%">
<col width="3%">
<col width="27%">
<col width="70%">
<tr>
<td colspan="3"><span class="cvsectionname">PERSONAL INFORMATION</span></td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Birthday</span></td>
<td>{{#if birthDate}}{{birthDatedisplayed}}{{/if}}</td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Nationality</span></td>
<td>{{nationality1}}{{#if nationality2}}, {{nationality2}}{{/if}}{{#if nationality3}}, {{nationality3}}{{/if}}</td>
</tr>
{{#if displayAddress}}
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Address</span></td>
<td>{{addressStreet}}{{#if addressNumber}}, {{addressNumber}}{{/if}}</td>
</tr>
<tr>
<td></td>
<td></td>
<td>{{addressZip}} {{addressCity}}</td>
</tr>
<tr>
<td></td>
<td></td>
<td>{{addressCountry}}</td>
</tr>
{{/if}}
{{#if displayContact}}
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Contact</span></td>
{{#if mobilePhone}}
<td>{{{signatureTel}}}</td>
{{else}}
<td>{{email}}</td>
{{/if}}
</tr>
{{#if mobilePhone}}
<tr>
<td></td>
<td></td>
<td>{{email}}</td>
</tr>
{{/if}}
{{/if}}
<tr></tr>
</table>-->


            <!-- CORE COMPETENCIES -->
            <div>
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            CORE COMPETENCIES
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="coreTitle" style="padding-top:var(--titleAfter);">
                            Communication and Analytical Skills
                        </div>
                        <div class="coreContent">
                            {{{competencies.[0].communicationSkillsHTML}}}
                        </div>
                    </div>
                </div>
                <div class="sectionNoTitle">
                    {{#if competencies.[0].businessSkillsHTML}}
                    <div class="projectRow">
                        <div class="coreTitle">
                            Business Expertise
                        </div>
                        <div class="coreContent">
                            {{{competencies.[0].businessSkillsHTML}}}
                        </div>
                    </div>
                    {{/if}}
                    <div class="projectRow">
                        <div class="coreTitle">
                            Technical Expertise
                        </div>
                        <div class="coreContent">
                            {{{competencies.[0].technicalSkillsHTML}}}
                        </div>
                    </div>
                </div>
            </div>
            <!--  CORE COMPETENCIES   --> 

            <!--<table width="100%">
<col width="3%">
<col width="27%">
<col width="70%">
<tr>
<td colspan="3"><span class="cvsectionname">CORE COMPETENCIES</span></td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Communication and <br>Analytical Skills</span></td>
<td>{{{competencies.[0].communicationSkillsHTML}}}</td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Professional Experience</span></td>
<td>{{{competencies.[0].businessSkillsHTML}}}</td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Technical Expertise</span></td>
<td>{{{competencies.[0].technicalSkillsHTML}}}</td>
</tr>
<tr></tr>
</table>-->

            <!-- PROJECT EXPERIENCE -->
{{#if isJunior}}
            {{#if internship}}
                <div>
                {{#each internship}}
                    {{#if @index $not 0}} <!-- if this is not the first element -->
                        <div class="sectionNoTitle">
                            <div class="projectRow">
                                <div class="empDate">
                                    {{internshipStartdate}} - {{internshipEnddate}}
                                </div>
                                <div class="empContent">
                                    <h1>
                                    {{internshipCompany}}, {{internshipCity}}
                                    </h1>
                                    <p class="CVp">{{{internshipPositionHTML}}}</p> 
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="sectionWithTitle">
                            <div class="projectRow">
                                <div class="sectionTitle" align="left">
                                    INTERNSHIP HISTORY
                                </div>
                                <div class="emptySection" align="right"></div>
                            </div>
                            <div class="projectRow">
                                <div class="empDate" style="padding-top:var(--titleAfter);">
                                    {{internshipStartdate}} - {{internshipEnddate}}
                                </div>
                                <div class="empContent">
                                    <h1>
                                        {{internshipCompany}}, {{internshipCity}}
                                    </h1>
                                    <p class="CVp">{{{internshipPositionHTML}}}</p> 
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
                </div>
            {{/if}}
{{else}}
              {{#if experiences}}
                <div>
                   {{#each experiences}}
                    {{setDivBool true}}
                        {{#if @index $not 0}}
                            <div class="sectionProjectNoTitle">
                                 {{#each ../experiencesClient}}
                                    {{#if isEqual idExp ../_id}}
                                    {{setBoolClient true}}
                                    {{#each ../../experiencesClientProject}}
                                        {{#if isEqual idExpClientProject ../_id }}
                                            {{#if getBoolClient}}
                                                {{#if getDivBool}}
                                                    <div class="avoidReturnExp">
                                                        <div class="projectRow">
                                                            <div class="companyTitle" align="left">{{../../projectCompany}}</div>
                                                            <div class="emptyCompany" align="right"></div>
                                                        </div>
                                                        <div class="projectRow">
                                                            <div class="projectDate" align="left">
                                                                {{#if ../projectStartdatemonth}}
                                                                    {{../projectStartdate}} - {{../projectEnddate}}
                                                                {{/if}}
                                                            </div>
                                                            <div align="left">  
                                                                    <div  class="CVprojectDescriptionTitle" align="left">
                                                                            <h1>{{#if ../projectClient}}
                                                                                    {{../projectClient}}
                                                                                    {{#if ../projectClientcity}},{{/if}}
                                                                                {{/if}}
                                                                                {{#if ../projectClientcity}}
                                                                                    {{../projectClientcity}}
                                                                                {{/if}}
                                                                                {{#if ../projectClientdepartment}} - {{../projectClientdepartment}}{{/if}}
                                                                            </h1>
                                                                    </div>
                                                                    <div  class="CVprojectDescription" align="left">
                                                                        <h2>{{#if projectTitle}}{{projectTitle}}{{/if}}</h2>
                                                                        <p class="CVp">{{{projectDescriptionHTML}}}</p>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{setBoolClient false}}
                                                    {{setDivBool false}}
                                                {{else}}
                                                      <div class="projectRowExp">
                                                        <div class="projectDate" align="left">
                                                            {{#if ../projectStartdatemonth}}
                                                                {{../projectStartdate}} - {{../projectEnddate}}
                                                            {{/if}}
                                                        </div>
                                                        <div align="left">  
                                                                <div  class="CVprojectDescriptionTitle" align="left">
                                                                        <h1>{{#if ../projectClient}}
                                                                                {{../projectClient}}
                                                                                {{#if ../projectClientcity}},{{/if}}
                                                                            {{/if}}
                                                                            {{#if ../projectClientcity}}
                                                                                {{../projectClientcity}}
                                                                            {{/if}}
                                                                            {{#if ../projectClientdepartment}} - {{../projectClientdepartment}}{{/if}}
                                                                        </h1>
                                                                </div>
                                                                <div  class="CVprojectDescription" align="left">
                                                                    <h2>{{#if projectTitle}}{{projectTitle}}{{/if}}</h2>
                                                                    <p class="CVp">{{{projectDescriptionHTML}}}</p>
                                                                </div>
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{else}}
                                                    <div class="projectRowExp">
                                                        <div class="projectDate"></div>
                                                        <div align="left">
                                                            <div class="CVprojectDescription" align="left">
                                                                <h2>{{#if projectTitle}}{{projectTitle}}{{/if}}</h2>
                                                                <p class="CVp">{{{projectDescriptionHTML}}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                                {{/each}}
                             
                                                
                                 
                            </div>
                        {{else}}
                            <div class="sectionWithTitle">
                                <div class="projectRow">
                                    <div class="sectionTitle" align="left">PROJECT EXPERIENCE</div>
                                    <div class="emptySection" align="right"></div>
                                </div>
                                <div class="projectRow">
                                    <div class="companyTitle" align="left" style="padding-top:var(--titleAfter);">{{projectCompany}}</div>
                                    <div class="emptyCompany" align="right"></div>
                                </div>
                                 {{#each ../experiencesClient}}
                                    {{#if isEqual idExp ../_id}}
                                    {{setBoolClient true}}
                                    {{#each ../../experiencesClientProject}}
                                        {{#if isEqual idExpClientProject ../_id }}
                                            {{#if getBoolClient}}
                                                <div class="projectRowExp">
                                                    <div class="projectDate" align="left">
                                                        {{#if ../projectStartdatemonth}}
                                                            {{../projectStartdate}} - {{../projectEnddate}}
                                                        {{/if}}
                                                    </div>
                                                    <div align="left">  
                                                            <div  class="CVprojectDescriptionTitle" align="left">
                                                                    <h1>{{#if ../projectClient}}
                                                                            {{../projectClient}}
                                                                            {{#if ../projectClientcity}},{{/if}}
                                                                        {{/if}}
                                                                        {{#if ../projectClientcity}}
                                                                            {{../projectClientcity}}
                                                                        {{/if}}
                                                                        {{#if ../projectClientdepartment}} - {{../projectClientdepartment}}{{/if}}
                                                                    </h1>
                                                            </div>
                                                            <div  class="CVprojectDescription" align="left">
                                                                <h2>{{#if projectTitle}}{{projectTitle}}{{/if}}</h2>
                                                                <p class="CVp" >{{{projectDescriptionHTML}}}</p>
                                                            </div>
                                                    </div>
                                                </div>
                                                {{setBoolClient false}}
                                            {{else}}
                                                    <div class="projectRow">
                                                        <div class="projectDate"></div>
                                                        <div align="left">
                                                            <div class="CVprojectDescription" align="left">
                                                                <h2>{{#if projectTitle}}{{projectTitle}}{{/if}}</h2>
                                                                <p class="CVp">{{{projectDescriptionHTML}}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                    
                    {{/each}}
                </div>
            {{/if}}    
{{/if}}
         

            <!-- EMPLOYMENT HISTORY -->
            {{#if employments}}
            <div>
                {{#each employments}}
                {{#if @index $not 0}} <!-- if this is not the first element -->
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="empDate">
                            {{employmentStartdate}} - {{employmentEnddate}}
                        </div>
                        <div class="empContent">
                            <h1>
                                {{employmentCompany}}, {{employmentCity}}
                            </h1>
                            <p class="CVp">{{{employmentPositionHTML}}}</p> 
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            EMPLOYMENT HISTORY
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="empDate" style="padding-top:var(--titleAfter);">
                            {{employmentStartdate}} - {{employmentEnddate}}
                        </div>
                        <div class="empContent">
                            <h1>
                                {{employmentCompany}}, {{employmentCity}}
                            </h1>
                            <p class="CVp">{{{employmentPositionHTML}}}</p> 
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

          

            <!-- DEGREES -->
            <div>
                {{#each degrees}}
                {{#if @index $not 0}} <!-- if this is not the first element -->
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="CVdegreeDate">
                            {{degreeDate}}
                        </div>
                        <div class="degreeContent">
                            {{#if degreeUniversity}}{{degreeUniversity}}{{#if degreeCity}}, {{degreeCity}}{{/if}}<br> {{/if}}
                            {{degree}}{{#if degreeSpecialisation}}, {{degreeSpecialisation}}{{/if}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            DEGREES
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="CVdegreeDate" style="padding-top:var(--titleAfter);">
                            {{degreeDate}}
                        </div>
                        <div class="degreeContent">
                            {{#if degreeUniversity}}{{degreeUniversity}}{{#if degreeCity}}, {{degreeCity}}{{/if}} {{/if}}<br>
                            {{degree}}{{#if degreeSpecialisation}}, {{degreeSpecialisation}}{{/if}}
                        </div>
                    </div>
                </div>

                {{/if}}
                {{/each}}
            </div>
        

            <!-- LANGUAGES -->
            <div>
                {{#each languages}}
                {{#if @index $not 0}} <!-- if this is not the first element -->
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="CVlanguage">
                            {{languageItem}}
                        </div>
                        <div class="languageSkills">
                            {{languageSkill}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            LANGUAGE SKILLS
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="CVlanguage" style="padding-top:var(--titleAfter);">
                            {{languageItem}}
                        </div>
                        <div class="languageSkills">
                            {{languageSkill}}
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>

        

        </main>
    </div>
    {{/if}}
</template>