<template name="cv">
    {{#if currentUser}}
    <div class="container containercv">
        <main class="cv">
            <!-- header -->
            <div class="cvHeader">
                <div class="leftHeader" style="vertical-align:top">
                    <p>
                        <img src="/images/logo_philico.png" alt="Logo Philico" height="99"/>
                    </p>  
                    {{firstNameup}} {{familyNameup}} <br>
                    {{#if isJunior}}
                    Consultant {{#if subcontractor}} - {{subcontractor}}{{/if}}
                    {{else}}
                    {{positionPhilico}} {{#if subcontractor}} - {{subcontractor}}{{/if}}
                    {{/if}}
                </div>
                <div class="rightHeader" align="right">
                    <p>
                        <img src="/images/{{cleanemail email}}.jpg" alt="Profile picture" height="140"/>
                    </p>
                </div>
            </div>

            <!--  Header: logo, full name and photo  -->  

            <!--<button id="savelatex" class="savecvinformation">Save the data for Latex</button>-->

            <!--<a href="/tex/{{email}}">Download</a> -->

            <!--  <table width="100%">
<col width="50%">
<col width="50%">
<tr>
<td><img align="left" src="/images/logo_philico.png" height="99" alt="Philico logo"></td>
</tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr class="cvtitle">
<td><strong><span class="cvtitle">{{firstNameup}} {{familyNameup}}
</span></strong><br><span class="cvtitle">{{positionPhilico}}</span>{{#if subcontractor}} - {{subcontractor}}{{/if}}</td>
{{#if displayPhoto}}
<td>{{#if image}}<img align="right" src="{{image}}" height="110" alt="If undisplayed, refresh">{{/if}}</td>
{{/if}}
</tr>
<tr></tr>
<tr></tr>
</table>-->

            <!-- PERSONNAL INFORMATION -->
            <div>
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            PERSONNAL INFORMATION
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="infoTitle">
                            Birthday
                        </div>
                        <div class="infoContent">
                            {{#if birthDate}}{{birthDatedisplayed}}{{/if}}
                        </div>
                    </div>
                </div>
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="infoTitle">
                            Nationality
                        </div>
                        <div class="infoContent">
                            {{nationality1}}{{#if nationality2}}, {{nationality2}}{{/if}}{{#if nationality3}}, {{nationality3}}{{/if}}
                        </div>
                    </div>
                    <div class="projectRow">
                        <div class="infoTitle">
                            Address
                        </div>
                        <div class="infoContent">
                            {{addressStreet}} {{addressNumber}} <br>
                            {{addressZip}} {{addressCity}} <br>
                            {{addressCountry}}
                        </div>
                    </div>
                    <div class="projectRow">
                        <div class="infoTitle">
                            Contact
                        </div>
                        <div class="infoContent">
                            {{mobilecountryCode}}{{mobilePhone}} <br>
                            {{email}}
                        </div>
                    </div>
                </div>
            </div>

            <!--  PERSONAL INFORMATION   --> 

            <!--<table width="100%">
<col width="3%">
<col width="27%">
<col width="70%">
<tr>
<td colspan="3"><span class="cvsectionname">PERSONAL INFORMATION</span></td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Birthday</span></td>
<td>{{#if birthDate}}{{birthDatedisplayed}}{{/if}}</td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Nationality</span></td>
<td>{{nationality1}}{{#if nationality2}}, {{nationality2}}{{/if}}{{#if nationality3}}, {{nationality3}}{{/if}}</td>
</tr>
{{#if displayAddress}}
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Address</span></td>
<td>{{addressStreet}}{{#if addressNumber}}, {{addressNumber}}{{/if}}</td>
</tr>
<tr>
<td></td>
<td></td>
<td>{{addressZip}} {{addressCity}}</td>
</tr>
<tr>
<td></td>
<td></td>
<td>{{addressCountry}}</td>
</tr>
{{/if}}
{{#if displayContact}}
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Contact</span></td>
{{#if mobilePhone}}
<td>{{{signatureTel}}}</td>
{{else}}
<td>{{email}}</td>
{{/if}}
</tr>
{{#if mobilePhone}}
<tr>
<td></td>
<td></td>
<td>{{email}}</td>
</tr>
{{/if}}
{{/if}}
<tr></tr>
</table>-->


            <!-- CORE COMPETENCIES -->
            <div>
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            CORE COMPETENCIES
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="coreTitle">
                            Communication and Analytical Skills
                        </div>
                        <div class="coreContent">
                            {{{competencies.[0].communicationSkillsHTML}}}
                        </div>
                    </div>
                </div>
                <div class="sectionNoTitle">
                    {{#if competencies.[0].businessSkillsHTML}}
                    <div class="projectRow">
                        <div class="coreTitle">
                            Business Expertise
                        </div>
                        <div class="coreContent">
                            {{{competencies.[0].businessSkillsHTML}}}
                        </div>
                    </div>
                    {{/if}}
                    <div class="projectRow">
                        <div class="coreTitle">
                            Technical expertise
                        </div>
                        <div class="coreContent">
                            {{{competencies.[0].technicalSkillsHTML}}}
                        </div>
                    </div>
                </div>
            </div>
            <!--  CORE COMPETENCIES   --> 

            <!--<table width="100%">
<col width="3%">
<col width="27%">
<col width="70%">
<tr>
<td colspan="3"><span class="cvsectionname">CORE COMPETENCIES</span></td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Communication and <br>Analytical Skills</span></td>
<td>{{{competencies.[0].communicationSkillsHTML}}}</td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Professional Experience</span></td>
<td>{{{competencies.[0].businessSkillsHTML}}}</td>
</tr>
<tr></tr>
<tr>
<td></td>
<td><span class="cvbluetext">Technical Expertise</span></td>
<td>{{{competencies.[0].technicalSkillsHTML}}}</td>
</tr>
<tr></tr>
</table>-->

            <!-- PROJECT EXPERIENCE -->
            {{#if isJunior}}
            {{#if internship}}
            <div>
                {{#each internship}}
                {{#if @index $not 0}} <!-- if this is not the first element -->
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="empDate">
                            {{internshipStartdate}} - {{internshipEnddate}}
                        </div>
                        <div class="empContent">
                            <h1>
                                {{internshipCompany}}, {{internshipCity}}
                            </h1>
                            <p class="CVp">{{{internshipPositionHTML}}}</p> 
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            INTERNSHIP HISTORY
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="empDate">
                            {{internshipStartdate}} - {{internshipEnddate}}
                        </div>
                        <div class="empContent">
                            <h1>
                                {{internshipCompany}}, {{internshipCity}}
                            </h1>
                            <p class="CVp">{{{internshipPositionHTML}}}</p> 
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{else}}
            {{#if experiences}}
            <div>
                {{#each experiences}}
                {{#if @index $not 0}} <!-- if this is not the first xp element -->
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="companyTitle" align="left">{{projectCompany}}</div>
                        <div class="emptyCompany" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="projectDate" align="left">
                            {{#if projectStartdatemonth}}
                            {{projectStartdate}} - {{projectEnddate}}
                            {{/if}}
                        </div>
                        <div class="projectDescription" align="left">
                            <h1>{{#if projectClient}}{{projectClient}}{{#if projectClientcity}}, {{/if}}{{/if}}{{#if projectClientcity}}{{projectClientcity}}{{/if}}{{#if projectClientdepartment}} - {{projectClientdepartment}}{{/if}}</h1>
                            <h2>{{#if projectTitle}}{{projectTitle}}{{/if}}</h2>
                            <p class="CVp">{{{projectDescriptionHTML}}}</p> 
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            PROJECT EXPERIENCE
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="companyTitle" align="left">
                            {{projectCompany}}
                        </div>
                        <div class="emptyCompany" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="projectDate" align="left">
                            {{#if projectStartdatemonth}}
                            {{projectStartdate}} - {{projectEnddate}}
                            {{/if}}
                        </div>
                        <div class="CVprojectDescription" align="left">
                            <h1>{{projectClient}}, {{projectClientcity}}{{#if projectClientdepartment}} – {{projectClientdepartment}}{{/if}}</h1>
                            <h2>{{projectTitle}}</h2>
                            <p class="CVp">{{{projectDescriptionHTML}}}</p> 
                        </div>
                    </div>
                </div>

                {{/if}}
                {{/each}}

            </div>
            {{/if}}
            {{/if}}
            <!--  PROJECT EXPERIENCE   --> 

            <!--<table width="100%">
<col width="3%">
<col width="27%">
<col width="70%">
<tr>
<td colspan="3"><span class="cvsectionname">PROJECT EXPERIENCE</span></td>
</tr>
<tr></tr>
{{#each experiences}}
{{#if projectCompany}}
<tr>
<td></td>
<td colspan="2"><span class="cvbluetext">{{projectCompany}}</span></td>
</tr>
{{/if}}
{{#if projectClient}}
<tr>
<td></td>
<td>{{projectStartdate}} - {{projectEnddate}}</td>
<td><span class="cvbluetext">{{#if projectClient}}{{projectClient}}{{#if projectClientcity}}, {{/if}}{{/if}}{{#if projectClientcity}}{{projectClientcity}}{{/if}}{{#if projectClientdepartment}} : {{projectClientdepartment}}{{/if}}</span></td>
</tr>
{{/if}}
{{#if projectTitle}}
<tr>
<td></td>
<td></td>  
<td><strong>{{projectTitle}}</strong></td>
</tr>
{{/if}}
{{#if projectDescriptionHTML}}
<tr>
<td></td>
<td></td>
<td>{{{projectDescriptionHTML}}}</td>
</tr>
{{/if}}
<tr></tr>
{{/each}}
</table>-->

            <!-- EMPLOYMENT HISTORY -->
            {{#if employments}}
            <div>
                {{#each employments}}
                {{#if @index $not 0}} <!-- if this is not the first element -->
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="empDate">
                            {{employmentStartdate}} - {{employmentEnddate}}
                        </div>
                        <div class="empContent">
                            <h1>
                                {{employmentCompany}}, {{employmentCity}}
                            </h1>
                            <p class="CVp">{{{employmentPositionHTML}}}</p> 
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            EMPLOYMENT HISTORY
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="empDate">
                            {{employmentStartdate}} - {{employmentEnddate}}
                        </div>
                        <div class="empContent">
                            <h1>
                                {{employmentCompany}}, {{employmentCity}}
                            </h1>
                            <p class="CVp">{{{employmentPositionHTML}}}</p> 
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            <!--  EMPLOYMENT HISTORY   --> 

            <!--<table width="100%">
<col width="3%">
<col width="27%">
<col width="70%">
<tr>
<td colspan="3"><span class="cvsectionname">EMPLOYMENT HISTORY</span></td>
</tr>
<tr></tr>
{{#each employments}}
<tr>
<td></td>
<td>{{employmentStartdate}} - {{employmentEnddate}}</td>
<td><span class="cvbluetext">{{employmentCompany}}{{#if employmentCity}}, {{employmentCity}} - {{employmentCountry}}{{/if}}</span></td>
</tr>
<tr>
<td></td>
<td></td>
<td>{{{employmentPositionHTML}}}</td>
</tr>
<tr></tr>
{{/each}}
</table>-->

            <!-- DEGREES -->
            <div>
                {{#each degrees}}
                {{#if @index $not 0}} <!-- if this is not the first element -->
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="CVdegreeDate">
                            {{degreeDate}}
                        </div>
                        <div class="degreeContent">
                            {{#if degreeUniversity}}{{degreeUniversity}}{{#if degreeCity}}, {{degreeCity}}{{/if}}{{#if degreeCountry}} - {{degreeCountry}} <br> {{/if}}{{/if}}
                            {{degree}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            DEGREES
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="CVdegreeDate">
                            {{degreeDate}}
                        </div>
                        <div class="degreeContent">
                            {{#if degreeUniversity}}{{degreeUniversity}}{{#if degreeCity}}, {{degreeCity}}<br>{{/if}} {{/if}}
                            {{degree}}
                        </div>
                    </div>
                </div>

                {{/if}}
                {{/each}}
            </div>
            <!--  DEGREES   --> 

            <!--<table width="100%">
<col width="3%">
<col width="27%">
<col width="70%">
<tr>
<td colspan="3"><span class="cvsectionname">DEGREES</span></td>
</tr>
<tr></tr>
{{#each degrees}}
<tr>
<td></td>
<td>{{#if degreeDatemonth}}{{degreeDate}}{{/if}}</td>
{{#if degreeUniversity}}
<td>{{degreeUniversity}}{{#if degreeCity}}, {{degreeCity}}{{/if}}{{#if degreeCountry}} - {{degreeCountry}}{{/if}}</td>
{{else}}
<td>{{degree}}{{#if degreeSpecialisation}}: {{degreeSpecialisation}}{{/if}}</td>
{{/if}}
</tr>
{{#if degreeUniversity}}
<tr>
<td></td>
<td></td>
<td>{{degree}}{{#if degreeSpecialisation}}: {{degreeSpecialisation}}{{/if}}</td>
</tr>
{{/if}}
<tr></tr>
{{/each}}
</table>-->

            <!-- LANGUAGES -->
            <div>
                {{#each languages}}
                {{#if @index $not 0}} <!-- if this is not the first element -->
                <div class="sectionNoTitle">
                    <div class="projectRow">
                        <div class="CVlanguage">
                            {{languageItem}}
                        </div>
                        <div class="languageSkills">
                            {{languageSkill}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="sectionWithTitle">
                    <div class="projectRow">
                        <div class="sectionTitle" align="left">
                            LANGUAGE SKILLS
                        </div>
                        <div class="emptySection" align="right"></div>
                    </div>
                    <div class="projectRow">
                        <div class="CVlanguage">
                            {{languageItem}}
                        </div>
                        <div class="languageSkills">
                            {{languageSkill}}
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>

            <!--  LANGUAGE SKILLS   --> 

            <!--<table width="100%">
<col width="3%" />
<col width="27%" />
<col width="70%" />
<tr>
<td colspan="3"><span class="cvsectionname">LANGUAGE SKILLS</span></td>
</tr>
<tr></tr>
{{#each languages}}
<tr>
<td></td>
<td>{{languageItem}}</td>
<td>{{languageSkill}}</td>
</tr>
{{/each}}
</table>-->


        </main>
    </div>
    {{/if}}
</template>