<template name="projectassessmentprintable">
{{#if currentUser}}
<div class="container containercv">
<main class="cv">
    <table width="100%">
      <col width="40%" />
      <col width="60%" />
      <tr>
        <td><img align="right" src="/images/logo_philico.png" height="49" alt="Philico logo"></td>
      </tr>
      <tr><span class="cvsectionname"></span></tr>
      <tr></tr>
    </table>
    <h2 align="center">PROJECT ASSESSMENT</h2>
        <table id="pr">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <tr></tr>
        <tr>
          <td>Name</td>
          <td>{{fullName}}</td>
          <td>Assessment By</td>
          <td>{{assessmentBy}}</td>
        </tr>
       <tr>
          <td>Assessment Date</td>
          <td>{{assessmentDate}}</td>
          <td>Project Name</td>
          <td>{{projectName}}</td>
        </tr>
        <tr>
          <td>Objectives set on</td>
          <td>{{objectivesDate}}</td>
          <td>Objectives set with</td>
          <td>{{objectivesWith}}</td>
        </tr>
        <tr>
          <td>Position difficulty(1/2/3)</td>
          <td>{{positionDifficulty}}</td>
          <td>Man-days spent on the project</td>
          <td>{{manDays}}</td>
        </tr>
        <tr>
          <td>Assessment from</td>
          <td>{{assessmentFrom}}</td>
          <td>Assessment to</td>
          <td>{{assessmentTo}}</td>
        </tr>
        <tr>
          <td>Assessment date</td>
          <td>{{assessmentDate}}</td>
          <td>Assessment by</td>
          <td>{{assessmentBy}}</td>
        </tr>
        <tr>
          <td>Assessment type(interim/Final)</td>
          <td>Final</td>
        </tr>
      </table>
    <br><br>
      <table id="pr">
        <col width="90%">
        <col width="10%">
        <tr>
          <td>Position difficulty</td>
          <td>Rating</td>
        </tr>
        <tr>
          <td>Hard</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Middle</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Light</td>
          <td>3</td>
        </tr>
      </table>
    <br><br>
      <table id="pr">
        <col width="90%">
        <col width="10%">
        <tr>
          <td>Performance</td>
          <td>Rating</td>
        </tr>
        <tr>
          <td>Outstanding performer - consistently exceeds expectations</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Very good performer - often exceeds expectations</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Good performer - fully meets expectations</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Requires some development to meet expectations</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Does not meet expectations and requires significant development</td>
          <td>5</td>
        </tr>
      </table>
      <br>
    <p>The project Assessment is agreed between the Consultant and the Coach at the end of the evaluation period.</p>
    <h3>Personal Career Plan</h3>
    <br>
    <p>The PCP aims to let the Consultant give an insight on his mid-term (1-3 years) career objectives.</p>
    <table id="pr">
      <col width="10%">
      <col width="90%">
      <tr>
        <td>Term</td>
        <td>Definition</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>Client location (onshore, offshore), type of project (from scratch, support, etc), type of responsibilities, type of modules</td>
      </tr>
      <tr>
        <td>Education</td>
        <td>Areas of interest, Avaloq courses, Business courses, Technical courses, etc.</td>
      </tr>
      <tr>
        <td>Internal</td>
        <td>Interests of being involved on internal projects (software dev, marketing, coaching, etc)</td>
      </tr>
    </table>
    <br>
    <table id="pr">
      <col width="34%">
      <col width="33%">
      <col width="33%">
      <tr>
        <td>Client</td>
        <td>Education</td>
        <td>Internal</td>
      </tr>
      <tr>
        <td>{{{pcpClientHTML}}}</td>
        <td>{{{pcpEducationHTML}}}</td>
        <td>{{{pcpInternalHTML}}}</td>
      </tr>
    </table>
    <br>
  <h3>Project Context</h3>
  <p>
    <table id="pr">
    <col width="90%">
    <col width="10%">
    <tr>
      <td>Project description</td>
      <td>CT</td>
    </tr>
    <tr>
      <td colspan="2">{{{projectDescriptionHTML}}}</td>
    </tr>
    </table>
  </p>
  <br>
  <p>
    <table id="pr">
    <col width="90%">
    <col width="10%">
    <tr>
      <td>Individual's role on the project</td>
      <td>CT</td>
    </tr>
    <tr>
      <td colspan="2">{{{projectIndividualRoleHTML}}}</td>
    </tr>
    </table>
  </p>
  <h3>Objectives</h3>
  <p>
    <table id="pr">
    <col width="90%">
    <col width="10%">
    <tr>
      <td>Objectives</td>
      <td>CT+CO</td>
    </tr>
    <tr>
      <td colspan="2">{{{projectObjectivesHTML}}}</td>
    </tr>
    </table>
  </p>
  <br>
  <h3>Assessment</h3>
  <p>
    <table id="pr">
    <col width="50%">
    <col width="40%">
    <col width="10%">
    <tr>
      <td colspan="3"><h4>Overall project results</h4></td>
    </tr>
    <tr>
      <td colspan="3">Overall project evaluation, quality of work produced, main success and main areas of improvement, overall objectives achievements</td>
    </tr>
    <tr>
      <td colspan="2">Self-evaluation</td>
      <td>CT</td>
    </tr>
    <tr>
      <td colspan="3">{{{overallSelfEvaluationHTML}}}</td>
    </tr>
    <tr>
      <td colspan="2">Coach evaluation and improvement areas</td>
      <td>CO</td>
    </tr>
    <tr>
      <td>Strengths</td>
      <td colspan="2">Weaknesses</td>
    </tr>
    <tr>
      <td>{{{overallCoachstrengthsHTML}}}</td>
      <td colspan="2">{{{overallCoachweaknessesHTML}}}</td>
    </tr>
    <tr>
      <td colspan="2">Rating</td>
      <td>CO</td>
    </tr>
    <tr>
      <td colspan="2">Overall performance</td>
      <td>{{overallPerformanceRating}}</td>
    </tr>
    </table>
  </p>
  <br>
  <p>
    <table id="pr">
    <col width="50%">
    <col width="40%">
    <col width="10%">
    <tr>
      <td colspan="3"><h4>Consulting</h4></td>
    </tr>
    <tr>
      <td colspan="3">Client Centricity / Client Satisfaction, Negotiation Skills / Convincibility, Consulting Methodology, Analytical and conceptual thinking, Project Management</td>
    </tr>
    <tr>
      <td colspan="2">Self-evaluation</td>
      <td>CT</td>
    </tr>
    <tr>
      <td colspan="3">{{{consultingSelfEvaluationHTML}}}</td>
    </tr>
    <tr>
      <td colspan="2">Coach evaluation and improvement areas</td>
      <td>CO</td>
    </tr>
    <tr>
      <td>Strengths</td>
      <td colspan="2">Weaknesses</td>
    </tr>
    <tr>
      <td>{{{consultingCoachstrengthsHTML}}}</td>
      <td colspan="2">{{{consultingCoachweaknessesHTML}}}</td>
    </tr>
    <tr>
      <td colspan="3">Rating</td>
    </tr>
    <tr>
      <td colspan="2">Client Centricity / Client Satisfaction</td>
      <td>{{consultingclientcentricityrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Negotiation Skills / Convincibility</td>
      <td>{{consultingnegotiationrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Consulting Methodology</td>
      <td>{{consultingmethodologyrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Analytical and conceptual thinking</td>
      <td>{{consultinganalyticalrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Project Management</td>
      <td>{{consultingmanagementrating}}</td>
    </tr>
    </table>
  </p>
  <br>
  <p>
    <table id="pr">
    <col width="50%">
    <col width="40%">
    <col width="10%">
    <tr>
      <td colspan="3"><h4>Technical</h4></td>
    </tr>
    <tr>
      <td colspan="3">Broad Avaloq know how, Deep Avaloq know how, Technical skills, Object Modelling / System Architecture</td>
    </tr>
    <tr>
      <td colspan="2">Self-evaluation</td>
      <td>CT</td>
    </tr>
    <tr>
      <td colspan="3">{{{technicalSelfEvaluationHTML}}}</td>
    </tr>
    <tr>
      <td colspan="2">Coach evaluation and improvement areas</td>
      <td>CO</td>
    </tr>
    <tr>
      <td>Strengths</td>
      <td colspan="2">Weaknesses</td>
    </tr>
    <tr>
      <td>{{{technicalCoachstrengthsHTML}}}</td>
      <td colspan="2">{{{technicalCoachweaknessesHTML}}}</td>
    </tr>
    <tr>
      <td colspan="3">Rating</td>
    </tr>
    <tr>
      <td colspan="2">Broad Avaloq know how</td>
      <td>{{technicalbroadavaloqrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Deep Avaloq know how</td>
      <td>{{technicaldeepavaloqrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Technical skills</td>
      <td>{{technicalskillsrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Object Modelling / System Architecture</td>
      <td>{{technicalobjectmodellingrating}}</td>
    </tr>
    </table>
  </p>
  <br>
  <p>
    <table id="pr">
    <col width="50%">
    <col width="40%">
    <col width="10%">
    <tr>
      <td colspan="3"><h4>Functional (Banking, Business Analysis)</h4></td>
    </tr>
    <tr>
      <td colspan="3">Broad banking knowledge, Specific banking knowledge, Experience / Seniority, Market Situation</td>
    </tr>
    <tr>
      <td colspan="2">Self-evaluation</td>
      <td>CT</td>
    </tr>
    <tr>
      <td colspan="3">{{{functionalSelfEvaluationHTML}}}</td>
    </tr>
    <tr>
      <td colspan="2">Coach evaluation and improvement areas</td>
      <td>CO</td>
    </tr>
    <tr>
      <td>Strengths</td>
      <td colspan="2">Weaknesses</td>
    </tr>
    <tr>
      <td>{{{functionalCoachstrengthsHTML}}}</td>
      <td colspan="2">{{{functionalCoachweaknessesHTML}}}</td>
    </tr>
    <tr>
      <td colspan="3">Rating</td>
    </tr>
    <tr>
      <td colspan="2">Broad banking knowledge</td>
      <td>{{functionalbroadbankingrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Specific banking knowledge</td>
      <td>{{functionalspecificbankingrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Experience / Seniority</td>
      <td>{{functionalexperiencerating}}</td>
    </tr>
    <tr>
      <td colspan="2">Market Situation</td>
      <td>{{functionalmarketrating}}</td>
    </tr>
    </table>
  </p>
  <br>
  <p>
    <table id="pr">
    <col width="50%">
    <col width="40%">
    <col width="10%">
    <tr>
      <td colspan="3"><h4>Soft skills</h4></td>
    </tr>
    <tr>
      <td colspan="3">Social competence, Leadership Skills (Coaching), Ability to work under pressure / Personality</td>
    </tr>
    <tr>
      <td colspan="2">Self-evaluation</td>
      <td>CT</td>
    </tr>
    <tr>
      <td colspan="3">{{{softSelfEvaluationHTML}}}</td>
    </tr>
    <tr>
      <td colspan="2">Coach evaluation and improvement areas</td>
      <td>CO</td>
    </tr>
    <tr>
      <td>Strengths</td>
      <td colspan="2">Weaknesses</td>
    </tr>
    <tr>
      <td>{{{softCoachstrengthsHTML}}}</td>
      <td colspan="2">{{{softCoachweaknessesHTML}}}</td>
    </tr>
    <tr>
      <td colspan="3">Rating</td>
    </tr>
    <tr>
      <td colspan="2">Social competence</td>
      <td>{{softsocialrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Leadership Skills (Coaching)</td>
      <td>{{softleadershiprating}}</td>
    </tr>
    <tr>
      <td colspan="2">Experience / Seniority</td>
      <td>{{softseniorityrating}}</td>
    </tr>
    <tr>
      <td colspan="2">Ability to work under pressure</td>
      <td>{{softpressurerating}}</td>
    </tr>
    </table>
  </p>
  <br>
  <h3 align="center">Rating</h3>
  <p>This final rating is a weighted average of each of the above rates. The weight of each rate is set for the whole company and equal for each employee. However, as the evaluator doesn’t have the whole pictures of employees’ performances, all individual rating will be presented and discussed at Partner’s level and are subject to company adjustments (not more then 0.5 point).</p>
  <p>
    <table align="center">
      <tr>
        <td align="center">Rating*</td>
      </tr>
      <tr>
        <td align="center">{{finalRating}}</td>
      </tr>
    </table>
  </p>
  <br>
  <p>*Rating has to be calculated using the corporate’s rating</p>
</main>
</div>
{{/if}}
</template>